@{
    ViewData["Title"] = "About";
}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <div>
            <p class="lead">
                "Blog" is a C# ASP.NET Core 5 MVC project. This project utilizes the following technologies:
            </p>
            <ul>
                <li>HTML5/Bootstrap 5</li>
                <li>CSS</li>
                <li>C#</li>
                <li>ASP.NET Core MVC</li>
                <li>SQL Server</li>
                <li>Entity Framework Core</li>
                <li>Identity on ASP.NET Core</li>
                <li>JavaScript/jQuery</li>
            </ul>
            
            <p>
                Please also feel free to visit my <a href="https://www.linkedin.com/in/amandeep-singh-318aa522b/" target="_blank">LinkedIn</a> and my
                <a href="https://github.com/amandeep1696" target="_blank">GitHub</a>.
            </p>
        </div>
    </div>
</div>